@import './selectedMovieCard/style';

.selectedMovie {
  padding: 86px 0 284px;
  background: #080808;

  &__head {
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    padding-bottom: 30px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    line-height: 30px;
    color: #fff;
  }

  &__description {
    max-width: 584px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__btn {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  &__row {
    justify-content: space-between;
    padding-top: 46px;
  }
}