.admin {
  &__add-files-block {
    margin-top: 20px;
  }
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;

  &__textfield {
    border: 1px solid #125599;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: transparent;
    transition: 0.3s;

    &:focus,
    &.active {
      border-color: #2d9bef;
    }
  }

  &__textarea {
    resize: none;
  }

  &__placeholder {
    position: absolute;
    top: 5px;
    margin-left: 10px;
    background: #fff;
    transition: 0.3s;

    &.active {
      top: -16px;
    }
  }

  &.active {
    .label__placeholder {
      top: -16px;
    }
  }
}

.addfile {
  align-items: center;
  margin-right: 20px;

  &__placeholder {
    margin-right: 10px;
    font-size: 18px;
  }

  &__btn {
    border-radius: 16px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background: #4caf50;
    transition: 0.3s;

    &:hover {
      background: #125599;
    }
  }
}

.dropdown {
  position: relative;
  flex: 1;
  overflow: hidden;
  margin: 0 10px;
  border: 1px solid #125599;
  border-radius: 10px;
  height: 45px;
  cursor: pointer;

  &__choosed {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url('../../../../assets/ctrl.svg') no-repeat center;
      background-size: cover;
      transform: rotate(180deg);
    }
  }

  &__item {
    border-top: 1px solid #125599;
    padding: 5px 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #125599;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url('../../../../assets/checkmark.svg') no-repeat center;
        background-size: cover;
      }
    }
  }

  &.active {
    height: 100%;

    .dropdown__choosed {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
}

.createacters {
  &__label {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;

    // width: 100%;
  }

  &__input {
    margin: 0 10px;
    border: 1px solid #125599;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: transparent;
    transition: 0.3s;

    &::placeholder {
      font-size: 16px;
      color: #000;
    }

    &:focus,
    &.active {
      border-color: #2d9bef;
    }
  }
}

.btn {
  border-radius: 16px;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background: #4caf50;
  transition: 0.3s;

  &:hover {
    background: #125599;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &--blue {
    background: #125599;

    &:hover {
      background: #4caf50;
    }
  }
}

.loading {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 30px;

  &::after {
    content: ' ';
    display: block;
    border: 6px solid #125599;
    border-color: #125599 transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

.complete {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background: url('../../../../assets/checkmark2.svg') no-repeat center;
  background-size: cover;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
