.header {
  box-shadow: 0 29px 39px rgba(0, 0, 0, 0.01);
  background: #131313;

  &__content {
    @include flex-center(space-between);

    padding: 36px 0;
  }

  &__search {
    position: relative;
    margin-left: 57px;
    outline: none;
    border: 1px solid #141414;
    border-radius: 20px;
    padding-left: 88px;
    width: 385px;
    height: 58px;
    box-sizing: border-box;
    color: #fff;
    background: #000;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      width: 24px;
      height: 24px;
      background: url('../../assets/header/search.svg') no-repeat center;
      background-size: cover;
    }
  }

  &__link {
    margin: 0 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;

    &:hover {
      color: #fff;
    }
  }

  &__btn {
    margin: 0 6px;
    font-weight: 600;
    font-size: 16px;
  }
}
