.header{
  background: #131313;
  box-shadow: 0px 29px 39px rgba(0, 0, 0, 0.01);
  &__content {
    padding: 36px 0;
    @include flex-center(space-between)
  }
  &__search {
    position: relative;
    width: 385px;
    height: 58px;
    background: #000000;
    border: 1px solid #141414;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    color: #FFFFFF;
    padding-left: 88px;
    margin-left: 57px;
    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background:url(../../assets/header/search.svg);
      z-index: 2;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 25px;
    transition: 0.3s;
    &:hover {
      color: #FFFFFF;
    }
  }
  &__btn {
    font-weight: 600;
    font-size: 16px;
    margin: 0 6px;
  }
}