.container {
  margin: 0 auto;
  max-width: 1620px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.btn-blue,
.btn-transparent {
  border-radius: 24px;
  color: #fff;
}

.btn-blue {
  margin-left: 10px;
  padding: 17px 38px;
  background: #000f93;
}

.btn-transparent {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 17px 24px;
  background: transparent;
}
