@mixin position($abs, $top, $right, $bottom: auto, $left: auto) {
	position: $abs;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}

@mixin flex-center($justify-value: center, $align-value: center) {
	display: flex;
	align-items: $align-value;
	justify-content: $justify-value;
}

@mixin form-center($X: -50%, $Y: -50%) {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate($X, $Y);
}

@mixin mobile($screen-width) {
	@media screen and (max-width: $screen-width) {
		@content;
	}
}